.container
{
    width: 1123px;
    margin: 0 auto;
}


body
{
    padding-top: 30px;
}


.blocks_sect_header
{
    text-align: center; 
    padding-top: 30px; 
    font-size:30px; 
    padding-bottom: 30px;
    font-weight: bold;
}

.blocks
{
    display: grid;
    grid-template-columns: repeat(3, 370px);
}